{% extends 'layout.html' %}
{% block content %}
<div id='crumb-container'>
    <a href='{{ url_for("home") }}'>Home</a>
    <span> / </span>
    <span>About Us</span>
</div>
<main role='main'>
    <section class='content-container'>
        <h2>About Us</h2>
        <img>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet purus egestas, eleifend leo ut, tempor metus. Donec eu metus eros. Suspendisse semper diam non velit ornare, non posuere mauris convallis. Praesent pulvinar eros ut dolor imperdiet, vel rhoncus turpis aliquet. In eget commodo sem. Aenean fermentum nunc et neque dapibus consequat. Curabitur in congue augue, at dictum mi. Nulla vestibulum maximus lectus, ac egestas ipsum suscipit in. Nullam convallis, ligula quis placerat ullamcorper, orci tellus sagittis magna, eu sagittis ipsum odio nec ante. Vivamus elit dolor, pharetra et pretium sit amet, fringilla nec leo. Nam bibendum vel nulla sed ullamcorper. Nam elementum urna non lorem rhoncus ultricies. Fusce ac maximus arcu
        </p>
    </section>
</main>
{% endblock %}
