{% extends 'layout.html' %}
{% block content %}
<div id='crumb-container'>
  <p>Home</p><span> / </span><p>Add Employee</p>
</div>
<main role='main'>
  <section class='content-container'>
    <h2>Add Employee</h2>
    <form method='POST'>
      {{ form.hidden_tag() }}
      <p>
        {{ form.first_name.label }}
        {{ form.first_name }}
      </p>
      <p>
        {{ form.last_name.label }}
        {{ form.last_name }}
      </p>
      <p>
        {{ form.email.label }}
        {{ form.email }}
      </p>
      <p>
        {{ form.phone.label }}
        {{ form.phone }}
      </p>
      <p>
        {{ form.password.label }}
        {{ form.password }}
      <p>
        {{ form.submit() }}
      </p>
    </form>
  </section>
</main>
{% endblock %}