{% extends 'layout.html' %}
{% block content %}
<div id='crumb-container'>
  <p>Home</p><span> / </span><p> Cancel appointment</p>
</div>
<main role='main'>
  <section class='content-container'>
    <h2>Cancel Appointment</h2>
    <div class='content'>
      <p> You are about to cancel the appoint for {{ appointment.date }}.Are you sure?</p>
      <form action="{{ url_for() }}">
        <button>Yes</button>
      </form>
      <form action="{{ url_for() }}">
        <button>No</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
