{% extends 'layout.html' %}
{% block content %}
<div id='crumb-container'>
  <a href="{{ url_for('home') }}">Home</a>
  <span> / </span>
  <a href="{{ url_for('profile', user_id=session['id'])}}">Profile</a>
  <span> / </span>
  <span>Change Password</span>
</div>
<main role='main'>
    <section class='content'>
        <h2>Change Password</h2>
        <form action='' method='POST'>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li>
                    {{ message }}
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
            {{ form.hidden_tag() }}
            <p>{{ form.password.label }}<br>
            {{ form.password }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </section>
</main>
{% endblock %}
