{% extends 'layout.html' %}
  {% block content %}
  <nav>
    <a href="{{ url_for('create_appointment') }}">Create Appointment</a>
    {% if session[email] %}
      <a href="{{ url_for('view_appointments', user_id=session['id']) }}">View Appointments</a>
      <a href="{{ url_for('profile', user_id=session['id']) }}">Profile</a>
    {% endif %}
  </nav>
  <div id='crumb-container'>
    <span>Home</span><span> / </span>
  </div>
  <main role='main'>
    <section class='content-container'>
      <h2>Home</h2>
        <div class='container'>
          {% if session['email'] %}
            <h3>Welcome {{ session["name"] }}</h3>
          {% else %}
            <h3>Welcome</h3>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class='flashes'>
                  {% for message in messages %}
                    <li>
                       {{ message }}
                      </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
          {% endif %}
        </div>
    </section>
  </main>
  {% endblock %}
