<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width initial-scale=1.0' />
    <meta name='author' content='Marc Preston' />
    <meta name='keyword' content='Detailer' />
    <meta name='description' content="Detailers" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
    <title>Detailers</title>
  </head>
  <body>
    <header role='banner'>
      <h1>Detailers</h1>
      <div id="login_container">
        {% if session['email'] %}
          <a href='{{ url_for("logout") }}'>{{ session['email'] }}(logout)</a>
        {% else %}
          <a href='{{ url_for("login") }}'>Login</a>
          <a href='{{ url_for("sign_up") }}'>Signup</a>
        {% endif %}
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <nav role='navigation'>
        <a href='{{ url_for("about_us") }}'>About Us</a>
        <a href='{{ url_for("legal") }}'>Legal</a>
      </nav>
    </footer>
  </body>
</html>
