/*css styles.css */
/* header */
header {
  text-align: center;
}
#login_container {
  text-align: right;
}

/*footer section */

footer {
  text-align: center;
}

/* main section */
main {
  text-align: center;
}

@media ( min-width: 360px){
  main {
    text-align: left;
  }
  main form, main .appointment-container {
    margin-left: 10px;
  }
}
